{% extends "_layout.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Улюблені авто</h2>
    {% if cars %}
        <ul class="list-group">
            {% for car in cars %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'car_detail' car.id %}">{{ car.brand }} {{ car.model }}</a>
                    <a href="{% url 'remove_from_favorites' car.id %}" class="btn btn-sm btn-danger">Видалити</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info mt-3">Список улюблених авто порожній.</div>
    {% endif %}
</div>
{% endblock %}